body {
    background-image: url('JaneBG.jpg');
    background-size: cover;
}
body > header, footer {
    display: block;
    background-color: antiquewhite;
    text-align: center;
    border: solid black;
}
main {
    display: block;
    background-color: turquoise;
    padding: 40px;
}

#personalLink {
    font-style: italic;
}

h1 {
    display: block;
    margin-bottom: 0%;
}